<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Zebrafish Bleeding Analysis</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="main-scroll">
        <nav>
            <div class="nav-logo">
                <img src="{{ url_for('static', filename='ZHMN.png') }}" alt="Logo">
            </div>

            <div class="nav-links">
                <a href="/team">Our Team</a>
                <a href="/innovation">About</a>
                <a href="/video">The Video</a>
                <a href="/">The Innovation</a>
            </div>
        </nav>

        <div class="container">
            {% block content %}{% endblock %}
        </div>
    </div>
</body>
</html>

